

.home{
    padding-left: 2%;
    padding-right: 2%;
    /* height: 100vh; */
    width: 100%;
    padding-bottom: 2vh;
    padding-top: 80px;
    font-size: 3em; 
    box-sizing: inherit;
}
.home1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* font-family: 'Cooming Soon', cursive; */
    /* height: 100%; */
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    /* align-items: center; */
}
.details{
    text-align: left;
    margin-right: 5%;
    width: 40%;
}
.details a{
    text-decoration: none;
    color: #455a64;
}
.form-area{
    width:50%;
    color: #455a64 !important;

}



input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    
    color: #263238;
    padding: 12px 20px;
    border: 2px solid #455a64;
    cursor: pointer;
    background-color: white;
    font-size: 0.6em;
    font-family: "myfont"
}

input[type=submit]:hover {
    background-color: #455a64;
    color: white;
}

.container {
    border-radius: 5px;
    
    padding: 20px;
}
@media only screen and (max-width:768px) {
    .home h1{
        font-size: 1em;
    }
    .home1{
        flex-direction: column;
    }
    .details{
        width: 100%;
    }
    .form-area{
        width: 100%;
    }
}

