
	main{
		margin-top: 100px;
	}
	footer h3{
		font-size: 1.5em;
	}
	.container{
		width:90%;
		padding:0% 0%;
	}
	
	#header{
		padding:10px;
	}
	.img-container{
		width:25%;
	}
	.responsive-img{
		margin-bottom:20px;
	}
@media only screen and (max-width:45em) {
	main{
		margin-top: 70px;
	}
}